<a href="https://colab.research.google.com/github/happycode-ch/pandas_colab/blob/main/3_Methods_and_Handeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Series: Part-2, Methods and Handeling

### Reading in Data With read_csv()

In [10]:
# https://andybeck.com/pandas-drinks

In [11]:
import pandas as pd

In [12]:
pd.read_csv('https://andybek.com/pandas-drinks') # dataframe from csv

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,NaN,NaN,NaN,NaN
1,Albania,89.0,132.0,54.0,4.9
2,Algeria,25.0,NaN,14.0,0.7
3,Andorra,245.0,138.0,312.0,12.4
4,Angola,217.0,57.0,45.0,5.9
...,...,...,...,...,...
188,Venezuela,333.0,1.0,3.0,7.7
189,Vietnam,111.0,2.0,1.0,2.0
190,Yemen,6.0,NaN,NaN,0.1
191,Zambia,32.0,19.0,4.0,2.5
192,Zimbabwe,64.0,18.0,4.0,4.7

In [13]:
pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'])

         country  wine_servings
0    Afghanistan            NaN
1        Albania           54.0
2        Algeria           14.0
3        Andorra          312.0
4         Angola           45.0
..           ...            ...
188    Venezuela            3.0
189      Vietnam            1.0
190        Yemen            NaN
191       Zambia            4.0
192     Zimbabwe            4.0

[193 rows x 2 columns]

In [14]:
pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col='country')

             wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
...                    ...
Venezuela              3.0
Vietnam                1.0
Yemen                  NaN
Zambia                 4.0
Zimbabwe               4.0

[193 rows x 1 columns]

In [15]:
alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col='country')

In [16]:
alcohol.head()

             wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0

In [17]:
type(alcohol)

pandas.core.frame.DataFrame

In [18]:
# read_csv() method allways returns a dataframe / squeeze boolean, default=False

In [19]:
alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col='country', squeeze=True) # returns a Series rather than a df

<ipython-input-19-604601290aea>:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col='country', squeeze=True) # returns a Series rather than a df

In [20]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [21]:
type(alcohol)

pandas.core.series.Series

In [22]:
alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col='country').squeeze('columns') # not depreciated, yet

In [23]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

### Series sizing with .size, .shape, and len()

In [24]:
alcohol.size

193

In [25]:
alcohol.values

array([ nan,  54.,  14., 312.,  45.,  45., 221.,  11., 212., 191.,   5.,
        51.,   7.,  nan,  36.,  42., 212.,   8.,  13.,  nan,   8.,   8.,
        35.,  16.,   1.,  94.,   7.,  nan,   7.,  16.,   1.,   4.,   1.,
         1.,   1., 172.,   8.,   3.,   1.,   9.,  74.,  11., 254.,   5.,
       113., 134.,  nan,   1., 278.,   3.,  26.,   9.,   3.,   1.,   2.,
       233.,  nan,  59.,  nan,   1.,  97.,  37.,  59.,   1., 149., 175.,
         1., 218.,  28.,   2.,   2.,  21.,   1.,   1.,   2., 185.,  78.,
        nan,  nan,  nan,  nan, 165.,   9., 237.,   9.,  16.,   1.,  12.,
         2.,   1.,  nan,   6., 123.,  62.,  31.,  nan,   2.,  nan,  56.,
       271.,   4.,   1.,  nan,  nan,   1.,  12.,  nan,  nan,  18.,   5.,
        18.,  nan,   8., 128.,   1.,   5.,  nan,   1.,   8.,  nan,  19.,
       175.,   1.,   1.,   2.,   7., 129.,   1.,  nan,  23.,  18.,   1.,
        74.,  21.,   1.,  56., 339.,   7.,   9.,  18., 167.,  73.,  nan,
        32.,  71.,  11.,  24.,  nan,  14.,  nan,   7., 127.,  51.,   2.,
        11., 116., 276.,   1.,  nan,  81., 112.,  nan,  nan,   7.,   2.,
       186.,  28.,  16.,  nan,   1.,  86.,   4.,  19.,   5.,   7.,   2.,
         7.,  32.,   9.,  nan,  45.,   5., 195.,   1.,  84.,  22.,   8.,
        11.,   3.,   1.,  nan,   4.,   4.])

In [26]:
alcohol.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [27]:
# alcohol.read_sql('SELECT int_column, date_column FROM test_data', conn) - SQL

In [28]:
alcohol.values.size == alcohol.index.size

True

In [29]:
alcohol.shape

(193,)

In [30]:
alcohol.size == alcohol.size

True

In [31]:
len(alcohol)

193

### Unique Values And Series Monotonicity

In [32]:
alcohol.is_unique

False

In [33]:
alcohol.head().is_unique

True

In [34]:
alcohol.nunique()

71

In [35]:
alcohol.nunique(dropna=False) # now includes NaN values

72

In [36]:
alcohol.is_monotonic_increasing

False

In [37]:
alcohol.is_monotonic_decreasing

False

In [38]:
pd.Series([1,2,3]).is_monotonic_increasing

True

In [39]:
pd.Series([3,2,1]).is_monotonic_decreasing

True

In [40]:
pd.Series([1,3,3,3,3,3,2]).is_monotonic_increasing

False

In [41]:
pd.Series([1,3,3,3,3,45,2114]).is_monotonic_increasing

True

### The count() method

In [42]:
alcohol.count() # method returns number of non-NA/null observations in the Series

162

In [43]:
alcohol.size # this property returns null's

193

In [44]:
alcohol.hasnans # property shows data has null values

True

### Accessing And Counting NA's

In [45]:
alcohol.count()

162

In [46]:
alcohol.size

193

In [47]:
alcohol.isnull() # returns series of booleans

country
Afghanistan     True
Albania        False
Algeria        False
Andorra        False
Angola         False
               ...
Venezuela      False
Vietnam        False
Yemen           True
Zambia         False
Zimbabwe       False
Name: wine_servings, Length: 193, dtype: bool

In [48]:
alcohol[alcohol.isnull()].index # returns pandas object

Index(['Afghanistan', 'Bangladesh', 'Bhutan', 'Burundi', 'North Korea',
       'Eritrea', 'Ethiopia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Kuwait',
       'Lesotho', 'Libya', 'Malaysia', 'Maldives', 'Marshall Islands',
       'Mauritania', 'Monaco', 'Myanmar', 'Nepal', 'Pakistan', 'Rwanda',
       'San Marino', 'Saudi Arabia', 'Somalia', 'Sri Lanka', 'Sudan',
       'Tajikistan', 'Uganda', 'Yemen'],
      dtype='object', name='country')

In [49]:
list(alcohol[alcohol.isnull()].index) # list of strings, countries that have NaN's

['Afghanistan',
 'Bangladesh',
 'Bhutan',
 'Burundi',
 'North Korea',
 'Eritrea',
 'Ethiopia',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Kuwait',
 'Lesotho',
 'Libya',
 'Malaysia',
 'Maldives',
 'Marshall Islands',
 'Mauritania',
 'Monaco',
 'Myanmar',
 'Nepal',
 'Pakistan',
 'Rwanda',
 'San Marino',
 'Saudi Arabia',
 'Somalia',
 'Sri Lanka',
 'Sudan',
 'Tajikistan',
 'Uganda',
 'Yemen']

In [50]:
len(list(alcohol[alcohol.isnull()].index)) # cumbersome way to do this, difficult to work with

31

In [51]:
alcohol.isnull().sum() # a more Pandorable way to achieve the results (list length), sum of the booleans(integers)

31

In [52]:
sum([True, False, True])

2

In [53]:
all = alcohol.size

In [54]:
nonulls = alcohol.count()

In [55]:
nulls = alcohol.isnull().sum()

In [56]:
all == nonulls + nulls

True

### BONUS: Boolans are litterally numbers in Python

In [57]:
True + 19

20

In [58]:
True + True - False + True * 3

5

In [59]:
# 5 / False  Produces Division Error

In [60]:
type(True)

bool

In [61]:
bool.__mro__

(bool, int, object)

### Skill Challenge

1. Isolate the non-nulls in the alcohol series and assign them to the variable *wine_servings*.

In [92]:
wine_servings = pd.Series(data=alcohol[alcohol.notnull()], index=alcohol[alcohol.notnull()].index)

In [112]:
wine_servings = alcohol.loc[alcohol.notna()]

2.  What is the total wine consumed by countries in wine_servings

In [114]:
wine_servings

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [115]:
wine_servings.head()

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Name: wine_servings, dtype: float64

In [97]:
wine_servings.sum()

8221.0

3. Bonus: Countries with less than 100 servings

In [104]:
wine_servings_lt_100 = wine_servings[wine_servings < 100]

In [105]:
wine_servings_lt_100.notna()

country
Albania              True
Algeria              True
Angola               True
Antigua & Barbuda    True
Armenia              True
                     ...
Vanuatu              True
Venezuela            True
Vietnam              True
Zambia               True
Zimbabwe             True
Name: wine_servings, Length: 132, dtype: bool

In [108]:
wine_servings_lt_100 = wine_servings[wine_servings < 100].sum()

In [109]:
wine_servings_lt_100

2416.0

### Dropping And Filling NAs

In [116]:
alcohol.dropna() #creates and returns a non-modified version of the original series

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [117]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [ ]:
# alcohol = alcohol.dropna() reassignment (one way)

In [ ]:
# alcohol.dropna(inplace=True) inplace param (another way)